.container {
    background-image: url("../images/star.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
 
   body {
     background-color:grey !important;
   }

  #carrusel {

    height: 200px;
    padding: 0;
  }

  select {
    height: 180px;
    width: 500px;
}

